<div class="row editor">
    <p class="h3">Add a task</p>
    <div class="col-xs-12 box">
        <form class="form-horizontal" role="form" ng-submit="addItem()">
            <div class="form-group">
                <label for="taskTitle" class="col-sm-2 control-label">Task Title</label>
                <div class="col-xs-10">
                    <input type="text" ng-model="invoice.temp.title" class="form-control" id="taskTitle" placeholder="Sprinted a mile">
                </div>
            </div>
            <div class="form-group">
                <label for="taskDesc" class="col-sm-2 control-label">Task Description</label>
                <div class="col-xs-10">
                    <input type="text" ng-model="invoice.temp.desc" class="form-control" id="taskDesc" placeholder="Consisted of stretching, drinking plenty of water and running real fast">
                </div>
            </div>
            <div class="form-group row">
                <label for="unitsWorked" class="col-sm-2 control-label">Units Worked</label>
                <div class="col-xs-1">
                    <input type="text" ng-model="invoice.temp.hours" class="form-control" id="unitsWorked" placeholder="3">
                </div>
                <label for="unitCost" class="col-sm-2 control-label">Unit Cost</label>
                <div class="col-xs-1">
                    <input type="text" ng-model="invoice.temp.unit_price" class="form-control" id="unitCost" placeholder="150">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
