<!DOCTYPE html>
<html lang="en" ng-app="invoicer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoice Template</title>

    <link href="css/invoice.css" rel="stylesheet">
    <link href="css/xeditable.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="angular/angular.min.js"></script>
    <script src="js/invoicer.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="invController">
    <div class="container" ng-show="contentLoaded">
        <div class="row">
            <div class="col-xs-12 page-header">
                <div class="col-xs-6">
                    <h1><input type="text" class="ieditor" ng-model="invoice.from_company"><br>
                    <small><input type="text" class="ieditor" ng-model="invoice.bill_type"></small></h1>
                </div>
                <div class="col-xs-6">
                <address>
                    <input type="text" class="ieditor" ng-model="invoice.from_address"><br>
                    <input type="text" class="ieditor" ng-model="invoice.from_city">, <input type="text" class="ieditor" ng-model="invoice.from_state"> <input type="text" class="ieditor" ng-model="invoice.from_zip"><br>
                    <strong>P</strong>: <input type="text" class="ieditor" ng-model="invoice.from_phone"><br>
                    <input type="text" class="ieditor" ng-model="invoice.from_email">
                </address>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h4>Client:</h4>
                <address>
                    <strong><input type="text" class="ieditor" ng-model="invoice.to_company"></strong><br>
                    <input type="text" class="ieditor" ng-model="invoice.to_address"><br>
                    <input type="text" class="ieditor" ng-model="invoice.to_city">, <input type="text" class="ieditor" ng-model="invoice.to_state"> <input type="text" class="ieditor" ng-model="invoice.to_zip"><br>
                    <strong>P</strong>: <input type="text" class="ieditor" ng-model="invoice.to_phone"><br>
                    <input type="text" class="ieditor" ng-model="invoice.to_email">
                </address>
            </div>
            <div class="col-xs-6">
                <table class="table-reduce-padding">
                    <tbody>
                        <tr>
                            <td><p class="h4">Invoice #: </p></td>
                            <td><p class="h5"><strong><input type="text" class="ieditor" ng-model="invoice.number"></strong></p></td>
                        </tr>
                        <tr>
                            <td><p class="h5">Date: </p></td>
                            <td><p class="h5"><strong><input type="text" class="ieditor" ng-model="invoice.send_date"></strong></p></td>
                        </tr>
                        <tr>
                            <td><p class="h5">Due Date: </p></td>
                            <td><p class="h5"><strong><input type="text" class="ieditor" ng-model="invoice.due_date"></strong></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-12 box">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Task</th>
                            <th>Hours</th>
                            <th>Unit Price</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in invoice.line_items">
                            <td>{{$index+1}}</td>
                            <td>
                                <dl>
                                    <dt><input type="text" class="ieditor" ng-model="invoice.line_items[$index].title"></dt>
                                    <dd><input type="text" class="ieditor" ng-model="invoice.line_items[$index].desc"></dd>
                                </dl>
                            </td>
                            <td><input type="text" class="ieditor" ng-model="invoice.line_items[$index].hours" e-style="width: 50px"></td>
                            <td>$<input type="text" class="ieditor" ng-model="invoice.line_items[$index].unit_price" e-style="width: 50px">/hr</td>
                            <td>${{item.hours*item.unit_price}}</td>
                        </tr>
                        <tr id="dynamicInsert" class="warning" ng-show="invoice.temp.title">
                            <td>{{invoice.line_items.length + 1}}</td>
                            <td>
                                <dl>
                                    <dt>{{invoice.temp.title}}</dt>
                                    <dd>{{invoice.temp.desc}}</dd>
                                </dl>
                            </td>
                            <td>{{invoice.temp.hours}}</td>
                            <td>${{invoice.temp.unit_price}}</td>
                            <td>${{invoice.temp.hours * invoice.temp.unit_price}}</td>
                        </tr>
                    </tbody>
                    <tfoot class="subtotal">
                        <tr>
                            <td colspan=3></td>
                            <td><p class="h5">Subtotal: </p></td>
                            <td><p class="h5"><strong>${{ getSubTotal() }}</strong></p></td>
                        </tr>
                        <tr>
                            <td colspan=3></td>
                            <td><p class="h5">Deposit: </p></td>
                            <td><p class="h5"><strong>$<input type="text" class="ieditor" ng-model="invoice.client_deposit" e-style="width: 50px"></strong></p></td>
                        </tr>
                        <tr>
                            <td colspan=3></td>
                            <td><p class="h5">Total: </p></td>
                            <td><p class="h5"><strong>${{ getSubTotal() - invoice.client_deposit }}</strong></p></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <p class="h3 text-right">
            Balance Due: ${{ getSubTotal() - invoice.client_deposit }}
        </p>
        <p>Thank you for choosing {{invoice.from_company}}!</p>
        <div class="editContainer" ng-mouseenter="showEditor=true" ng-mouseleave="showEditor=false">
            <div ng-show="showEditor" ng-include src="'editor.html'"></div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
